<header class="myheader">
  <nav class="mynavbar">
    <div class="mymenu">
      <!--Use different styles for current menu item-->
      <div class="mymenuitem"><a href="">Home</a></div>
      <div class="mymenuitem"><a href="">About</a></div>
      <div class="mymenuitem"><a href="">Useful links</a></div>
      <div class="mymenuitem"><a href="">Contact</a></div>
    </div>
  </nav>
  <div class="mytitle" title="{{ site.title }}">
      <!-- Here display page title -->
      Here display page title
  </div>
</header>
